.container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 56, 68, 0.897);
    height: 60px;
    align-items: center;
    /* position: sticky;
    top: 0; */
}
.contain1{    
    background-color: rgb(5, 121, 111);
    font-size: 20px;
}
.but{
    cursor: pointer;
    padding: 8px;

}
.col img{
    margin-left: 15px;
}
.col1{
    padding: 20px;
}
.contain1{
    height: 300px;
    margin: 40px 0;
    text-align: center;
    padding: 40px;
}
#input{
    width: 60%;
    padding: 10px;

}
.btn{
    height: 39px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.box-3{
    padding: 50px;
}
.btn:hover{
    color: red;
}
.contain-3{
    text-align: center;
    padding:50px 0;
    font-size: 20px;
}
.contain-4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 26px;
}
.contain-4 h4{
   text-transform: capitalize;
}
.contain-4 div{
    border: 1px solid grey;
    padding: 10px;
}
.img{
    float:left;
    margin-right: 20px;
    height: 450px;
    width: 880px;
}
.parag h4{
    font-size: 40px;
}
.parag p{
    font-size: 26px;
}
.contain-11 h1{
    text-align: center;
    margin: 90px 0;
}
.contain-11{
    font-size: x-large;
}
.contain-11 img{
    max-width:450px;
}
.contain-12{
    clear: both;
    text-align: center;
    font-size: x-large;
    padding: 40px 0;
}
.imge{
        float:right;
        margin-left: 20px;
        max-height: 500px;
        width: 550px;
}
.contain-13{
    clear: both;
    padding: 40px;

}
.contain-13 h1{
    font-size: 40px;
}
.contain-13 p{
    font-size: 26px;
}
.form{
    height: 400px;
   background-color: rgba(128, 128, 128, 0.425);
    color: rgb(211, 20, 20);
}
.form h1{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
   color: white;
}
form input{
    width:300px;
    padding: 15px 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    border:none;
}
.butt{
    margin-top: 20px;
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    margin-bottom: 20px;
}
.butt:hover{
    background-color: rgba(0, 0, 0, 0.521);
}
form h1{
    background-color: black;
    color: white;

}
 input::placeholder{
    color: rgba(255, 255, 255, 0.863);
    font-size: 15px;
}
.row-1{
    display: flex;
    background-color: black;
    color: white;
    padding-left: 55px;
    margin-bottom: 1.5px;
}
.row-1 h3{
    padding: 0 5px;
}
.row-2{
    min-height: 400px;
    background-color:black;
    color: white;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding:0 60px;
}
.row-2 a{
    text-decoration: none;
    color:grey;
    line-height: 28px;
    display: block;
    font-size: 20px;
}
.row-2 a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.753);
}
.row-3{
    color: rgb(253, 251, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    /* padding: 10px; */
    padding-left: 55px;
    margin-bottom: 1.5px;
}
.right i{
    display: inline-flex;
    padding: 0 20px;
    cursor: pointer;
}
.right{
    padding-right: 50px;
}
.right i:hover{
    color: grey;
}
.row-4{
    display: flex;
    font-size: 17px;
    align-items: center;
    color: white;
    background-color: black;
    padding-left: 55px;
}
.lrow-4 .rig a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    color: white;
    /* background-color: black; */
}
.row-4 .rig a:hover{
    color: grey;
    text-decoration: underline;
}
.rig{
    display: flex;
    padding: 30px;
}
.rig a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.row-5{
    color: white;
    background-color: black;
    height: 50px;
    padding-left: 55px;
}
.oneee{
    background-color: black;
}